@model IEnumerable<SAT.DATA.EF.Student>

@{
    ViewBag.Title = "Index";
}
<section class="hero-section set-bg" data-setbg="../Content/img/bg.jpg" style="max-height:30vh;margin-bottom:30px;"></section>
<div class="containerX">
    <h2 class="mainCenterText">Student Index</h2>

    @if (User.IsInRole("Admin")) { 
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>}
    <table class="myTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PhotoUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.State)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ZipCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Major)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StudentStatus.SSName)
                </th>
                <th></th>

            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tbody>
                <tr>
                    <td>
                        <div class="imageSizing">
                            <img src="@Url.Content("~/Content/img/Students/" +item.PhotoUrl)" style="height: 90px; width:90px; border-radius:20%; border-style: outset;"/>
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ZipCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Major)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentStatus.SSName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.StudentId }) 
                        @Html.ActionLink("Details", "Details", new { id = item.StudentId })
                        @Html.ActionLink("Delete", "Delete", new { id = item.StudentId })
                    </td>
                </tr>
            </tbody>
        }

    </table>
</div>
@section scripts {
<script>
    $(document).ready(function () {
        $('.myTable').DataTable();
    });
</script>
    }