@model SAT.DATA.EF.Courses

@{
    ViewBag.Title = "Delete";
}

<!-- Page info -->
<div class="page-info-section set-bg" data-setbg="/Content/img/page-bg/4.jpg">
    <div class="container">
        <div class="site-breadcrumb">
            <a href="/">Home</a>
            <span>Delete Course</span>
        </div>
    </div>
</div>
<!-- Page info end -->

<h3 class="mainCenterText">Are you sure you want to delete @Model.CourseName?</h3>
<div>

    <hr />
    @*<dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CourseName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CourseName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CourseDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CourseDescription)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreditHours)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreditHours)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Curriculum)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Curriculum)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Notes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Notes)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.isActive)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.isActive)
            </dd>

        </dl>*@

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color mainCenterText">
            @if (User.IsInRole("Admin")) {
            <input type="submit" value="Delete" class="btn btn-danger orangeButtonStyle" /> }
            <div class="btn btn-primary backButtonStyle">
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    }
</div>


