@model IEnumerable<SAT.DATA.EF.Courses>

@{
    ViewBag.Title = "Courses";
}


<section class="hero-section set-bg" data-setbg="../Content/img/bg.jpg" style="max-height:30vh;margin-bottom:30px;"></section>
<div class="containerX">
    <h2 class="mainCenterText">@ViewBag.Title</h2>

    @if (User.IsInRole("Admin"))
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }

    <table class="myTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CourseName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreditHours)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Curriculum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Notes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.isActive)
                </th>
                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreditHours)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Curriculum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Notes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.isActive)
                    </td>
                    
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.CourseId })
                        @if (User.IsInRole("Admin"))
                        {@Html.ActionLink("Details", "Details", new { id = item.CourseId })}

                        @if (User.IsInRole("Admin"))
                        {@Html.ActionLink("Delete", "Delete", new { id = item.CourseId })}

                    </td>

                    
                </tr>
            </tbody>
        }

    </table>
</div>

@section scripts {
    <script>
    $(document).ready(function () {
        $('.myTable').DataTable();
    });
    </script>
}