@model IEnumerable<SAT.DATA.EF.Courses>

@{
    ViewBag.Title = "Courses";
}


<!-- Page info -->
<div class="page-info-section set-bg" data-setbg="/Content/img/page-bg/4.jpg">
    <div class="container">
        <div class="site-breadcrumb">
            <a href="/">Home</a>
            <span>Courses</span>
        </div>
    </div>
</div>
<!-- Page info end -->

@if (User.IsInRole("Admin"))
{
    <p class="btn btn-danger backButtonStyle" style="padding:1%; margin:1%;">
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="myTable display stripe cell-border">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreditHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curriculum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isActive)
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tbody>

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreditHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Curriculum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isActive)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CourseId })
                    @if (User.IsInRole("Admin"))
                    {@Html.ActionLink("Details", "Details", new { id = item.CourseId })}

                    @if (User.IsInRole("Admin"))
                    {@Html.ActionLink("Delete", "Delete", new { id = item.CourseId })}

                </td>


            </tr>
        </tbody>
    }

</table>


@section scripts {
    <script>
        $(document).ready(function () {
            $('.myTable').DataTable();
        });
    </script>
}