@model SAT.DATA.EF.ScheduledClasses

@{
    ViewBag.Title = "Delete";
}

<!-- Page info -->
<div class="page-info-section set-bg" data-setbg="/Content/img/page-bg/4.jpg">
    <div class="container">
        <div class="site-breadcrumb">
            <a href="/">Home</a>
            <span>Delete Class</span>
        </div>
    </div>
</div>
<!-- Page info end -->

<h3 class="mainCenterText">Are you sure you want to delete @Model.Cours.CourseName?</h3>
<div>
    
    <hr />
    @*<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstructorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstructorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cours.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cours.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScheduledClassStatus.SCSName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScheduledClassStatus.SCSName)
        </dd>

    </dl>*@

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color mainCenterText">
            <input type="submit" value="Delete" class="btn btn-danger orangeButtonStyle" /> 
            <div  class="btn btn-primary backButtonStyle">
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    }
</div>
