@model SAT.DATA.EF.ScheduledClasses

@{
    ViewBag.Title = "Details";
}

<!-- Page info -->
<div class="page-info-section set-bg" data-setbg="/Content/img/page-bg/4.jpg">
    <div class="container">
        <div class="site-breadcrumb">
            <a href="/">Home</a>
            <span>Class Details</span>
        </div>
    </div>
</div>
<!-- Page info end -->

<div class="containerX">

    <div id="courseContainer">

        <div id="courseHeader">
            <h3 id="title-top">@Html.DisplayFor(model => model.Cours.CourseName)</h3>
        </div>
        <div class="mainCenterText">



            <p>
                <strong> @Html.DisplayNameFor(model => model.InstructorName) </strong>: @Html.DisplayFor(model => model.InstructorName)
            <p>
                <strong> @Html.DisplayNameFor(model => model.StartDate) </strong>: @Html.DisplayFor(model => model.StartDate) |

                <strong>@Html.DisplayNameFor(model => model.EndDate)</strong> :  @Html.DisplayFor(model => model.EndDate)
            </p>
            <p>
                <strong> @Html.DisplayNameFor(model => model.Location) </strong>: @Html.DisplayFor(model => model.Location)
            </p>


            <p>
                <strong>  @Html.DisplayNameFor(model => model.ScheduledClassStatus.SCSName)</strong> : @Html.DisplayFor(model => model.ScheduledClassStatus.SCSName)
            </p>
            <div class="row" style="place-content: center;">


                <div class="btn btn-primary backButton"> @Html.ActionLink("Back to List", "Index")</div>

                <div class="text-right btn btn-danger" id="editButton">
                    @Html.ActionLink("Edit", "Edit", new { id = Model.ScheduledClassId })

                </div>

            </div>
        </div>





    </div>
</div>

