@model IEnumerable<SAT.DATA.EF.ScheduledClasses>

@{
    ViewBag.Title = "Index";
}

<!-- Page info -->
<div class="page-info-section set-bg" data-setbg="/Content/img/page-bg/4.jpg">
    <div class="container">
        <div class="site-breadcrumb">
            <a href="/">Home</a>
            <span>Scheduled Classes Index</span>
        </div>
    </div>
</div>
<!-- Page info end -->

<p class="btn btn-danger backButtonStyle" style="padding:1%; margin:1%;">
    @Html.ActionLink("Create New", "Create")
</p>
<table class="myTable display stripe cell-border">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstructorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cours.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScheduledClassStatus.SCSName)
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InstructorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cours.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScheduledClassStatus.SCSName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ScheduledClassId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ScheduledClassId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ScheduledClassId })
                </td>
            </tr>
        </tbody>
    }

</table>


@section scripts {
    <script>
        $(document).ready(function () {
            $('.myTable').DataTable();
        });
    </script>
}