@model SAT.DATA.EF.Enrollments

@{
    ViewBag.Title = "Delete";
}

<!-- Page info -->
<div class="page-info-section set-bg" data-setbg="/Content/img/page-bg/4.jpg">
    <div class="container">
        <div class="site-breadcrumb">
            <a href="/">Home</a>
            <span>Delete Enrollment</span>
        </div>
    </div>
</div>
<!-- Page info end -->

<h3 class="mainCenterText">Are you sure you want to delete this @Model.ScheduledClass.Cours.CourseName Enrollment?</h3>
<div>
    
    <hr />
    <dl class="mainCenterText">
        <dt>
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnrollmentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScheduledClass.InstructorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScheduledClass.InstructorName)
        </dd>

        <dt>
            <strong>Student's Name</strong>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.FullName)
        </dd>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger orangeButtonStyle" /> 
                <div class="btn btn-primary backButtonStyle">@Html.ActionLink("Back to List", "Index")</div>
            </div>
        }
    </dl>


</div>
