@model SAT.DATA.EF.Enrollments

@{
    ViewBag.Title = "Details";
}

<!-- Page info -->
<div class="page-info-section set-bg" data-setbg="/Content/img/page-bg/4.jpg">
    <div class="container">
        <div class="site-breadcrumb">
            <a href="/">Home</a>
            <span>Enrollment Details</span>
        </div>
    </div>
</div>
<!-- Page info end -->

<div class="containerX">
    <div id="courseContainer">
        <div id="courseHeader" class="mainCenterText"><h4>Enrollments</h4></div>
        <hr />
        <dl class="mainCenterText">
            <dt>
                @Html.DisplayNameFor(model => model.EnrollmentDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EnrollmentDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ScheduledClass.InstructorName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ScheduledClass.InstructorName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Student.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Student.FirstName)
            </dd>
            <p>
                <div class="btn btn-danger orangeButtonStyle">
                    @Html.ActionLink("Edit", "Edit", new { id = Model.EnrollmentId })
                </div>
                <div class="btn btn-primary backButtonStyle"> @Html.ActionLink("Back to List", "Index")</div>
            </p>
        </dl>
    </div>
</div>

